@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.container {
  height: 100%;
}

body {
  background: var(--surface-overlay);
  color: white;
  font-family: 'Poppins', sans-serif !important;
}

.p-dialog-header {
  padding-bottom: 0 !important;
}
.p-button-outlined {
  width: 45px !important;
  height: 45px !important;
}
