@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.container {
  height: 100%;
}

.container {
  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
body {
  background: var(--surface-overlay);
  color: white;
  font-family: 'Poppins', sans-serif !important;
}

.p-dialog-header {
  padding-bottom: 0 !important;
}
.p-button-outlined {
  width: 45px !important;
  height: 45px !important;
}

.messagebox {
  max-width: 750px;
  width: 100%;
  &__content {
    border: 1px solid var(--primary-color);
    height: 450px;
    overflow-y: auto;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
}

.lang-change {
  &.p-focus {
    border: none !important;
    box-shadow: none !important;
  }
  .p-dropdown-trigger {
    width: 20px !important;
    margin-left: -20px;
  }
}
